global
    log stdout format raw local0

defaults
    mode http
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    log global

frontend projeto_frontend
    bind *:80
    default_backend projetopython

backend projetopython
    balance roundrobin
    option httpchk GET /health
    server app1 192.168.56.122:8080 check
    server app2 192.168.56.123:8080 check
