Port 2222
ListenAddress 0.0.0.0

LoginGraceTime 2m
PermitRootLogin yes

ChallengeResponseAuthentication no
UsePAM yes

X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp	/usr/lib/openssh/sftp-server
PasswordAuthentication yes
